h1{
    text-align: center;
}
#s1{
    text-align: center;
    padding: 10px;
    background-color:palevioletred ;
    color: white;
}
#s2{
    width: 35.7cm;
    background-color: green;
    color: white;
    height: 4.5cm;
}
#s3{
    width: 35.7cm;
    background-color: blueviolet;
    color: white;
    height: 4.5cm;
}
#s4{
    width: 35.7cm;
    background-color:orangered;
    color: white;
    height: 4.5cm;
}
#s5{
    width: 35.7cm;
    background-color: orange;
    color: white;
    height: 2cm;
}
:target{
    color:blue;
    background-color: black;
}